<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Page</title>

    {% include 'admin/layout/stylesheet.html' %}

    <style>
        body {
            background-color: #008a00;
        }
    </style>
</head>
<body>
<div class="flex wrapper">
    <!-- Sidenav Menu -->
    {#    {% block app_menu %}#}
    <div class="app-menu">
        <!-- App Logo -->
        <a href="{{ url_for('dashboard') }}" class="logo-box">
            <div class="logo-light">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-lg h-[22px]"
                     alt="Light logo">
                <img src="{{ url_for('static', filename='images/logo-sm.png') }}" class="logo-sm h-[22px]"
                     alt="Small logo">
            </div>
            <div class="logo-dark">
                <img src="{{ url_for('static', filename='images/logo-dark.png') }}" class="logo-lg h-[22px]"
                     alt="Dark logo">
                <img src="{{ url_for('static', filename='images/logo-sm.png') }}" class="logo-sm h-[22px]"
                     alt="Small logo">
            </div>
        </a>

        <!-- Sidenav Menu Toggle Button -->
        <button id="button-hover-toggle" class="absolute top-5 end-2 rounded-full p-1.5 z-50">
            <span class="sr-only">Menu Toggle Button</span>
            <i class="ri-checkbox-blank-circle-line text-xl"></i>
        </button>

        <!--- Menu -->
        <div class="scrollbar" data-simplebar>
            <ul class="menu" data-fc-type="accordion">
                <li class="menu-title">Navigation</li>
                <li class="menu-item">
                    <a href="{{ url_for('dashboard') }}"
                       class="menu-link{{ ' active' if module.full == 'dashboard' else '' }}">
                            <span class="menu-icon">
                                <i class="ri-home-4-line"></i>
                            </span>
                        <span class="menu-text"> Dashboard </span>
                        <span class="badge bg-success rounded-full">2</span>
                    </a>
                </li>
                <li class="menu-title">Apps</li>
                <li class="menu-item">
                    <a href="javascript:void(0)" data-fc-type="collapse" class="menu-link">
                            <span class="menu-icon">
                                <i class="ri-user-line"></i>
                            </span>
                        <span class="menu-text"> Users </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="sub-menu hidden">
                        <li class="menu-item">
                            <a href="{{ url_for('user_list') }}" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ url_for('user_add') }}" class="menu-link">
                                <span class="menu-text">Add</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="javascript:void(0)" data-fc-type="collapse" class="menu-link">
                        <span class="menu-icon">
                            <i class="ri-list-check-2"></i>
                        </span>
                        <span class="menu-text">Category</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="sub-menu hidden">
                        <li class="menu-item">
                            <a href="{{ url_for('category_list') }}" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ url_for('category_add') }}" class="menu-link">
                                <span class="menu-text">Add</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="javascript:void(0)" data-fc-type="collapse" class="menu-link">
                        <span class="menu-icon">
                            <i class="ri-price-tag-3-line"></i>
                        </span>
                        <span class="menu-text">Product</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="sub-menu hidden">
                        <li class="menu-item">
                            <a href="{{ url_for('product_list') }}" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ url_for('product_add') }}" class="menu-link">
                                <span class="menu-text">Add</span>
                            </a>
                        </li>
                    </ul>
                </li>

{#                <li class="menu-item">#}
{#                    <a href="apps-calendar.html" class="menu-link">#}
{#                            <span class="menu-icon">#}
{#                                <i class="ri-calendar-event-line"></i>#}
{#                            </span>#}
{#                        <span class="menu-text"> Calendar </span>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
    {#    {% endblock %}#}
    <!-- Sidenav Menu End  -->

    <div class="page-content">
        {% include 'admin/layout/header.html' %}

        {% block page_content %}
            <!-- Page Title Start -->
            <div class="flex justify-between items-center mb-6">
                <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">{{ module.main }}</h4>

                <div class="md:flex hidden items-center gap-2.5 font-semibold">
                    <div class="flex items-center gap-2">
                        <a href="{{ url_for('dashboard') }}"
                           class="text-sm font-medium text-slate-700 dark:text-slate-400">Attex</a>
                    </div>
                    {% if module.mainLink %}
                        <div class="flex items-center gap-2">
                            <i class="ri-arrow-right-s-line text-base text-slate-400 rtl:rotate-180"></i>
                            <a href="{{ url_for(module.mainLink) }}"
                               class="text-sm font-medium text-slate-700 dark:text-slate-400">{{ module.main }}</a>
                        </div>
                    {% endif %}
                    {% if module.purpose %}
                        <div class="flex items-center gap-2">
                            <i class="ri-arrow-right-s-line text-base text-slate-400 rtl:rotate-180"></i>
                            <a href="{{ url_for(module.purposeLink, id=module.id) if module.id else url_for(module.purposeLink) }}"
                               class="text-sm font-medium text-slate-700 dark:text-slate-400"
                               aria-current="page">{{ module.purpose }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Page Title End -->
        {% endblock %}

        {% include 'admin/layout/footer.html' %}
    </div>

    {#    {% block theme_customization %}#}
    <div id="theme-customization"
         class="fc-offcanvas-open:translate-x-0 hidden translate-x-full rtl:-translate-x-full fixed inset-y-0 end-0 transition-all duration-300 transform max-w-72 w-full z-50 bg-white dark:bg-gray-800"
         tabindex="-1">
        <div class="h-16 flex items-center text-white bg-primary px-6 gap-3">
            <h5 class="text-base flex-grow">Theme Settings</h5>
            <button type="button" data-fc-dismiss><i class="ri-close-line text-xl"></i></button>
        </div>
        <div class="h-[calc(100vh-128px)]" data-simplebar>
            <div class="p-6">
                <div class="mb-6">
                    <h5 class="font-semibold text-sm mb-3">Theme</h5>
                    <div class="flex flex-col gap-2">
                        <div class="flex items-center">
                            <input class="form-switch form-switch-sm" type="checkbox" name="data-mode"
                                   id="layout-color-light" value="light">
                            <label class="ms-1.5" for="layout-color-light"> Light </label>
                        </div>

                        <div class="flex items-center">
                            <input class="form-switch form-switch-sm" type="checkbox" name="data-mode"
                                   id="layout-color-dark" value="dark">
                            <label class="ms-1.5" for="layout-color-dark"> Dark </label>
                        </div>
                    </div>
                </div>
                <!-- Additional customization options... -->
            </div>
        </div>
    </div>
    {#    {% endblock %}#}
</div>

{% include 'admin/layout/mainJs.html' %}

{% block customJs %}
{% endblock %}

</body>
</html>
