<!-- Plugin Js -->
<script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/lucide/umd/lucide.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/@frostui/tailwindcss/frostui.js') }}"></script>

<!-- App Js -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- Apex Charts js -->
<script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Vector Map Js -->
<script src="{{ url_for('static', filename='libs/jsvectormap/js/jsvectormap.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/jsvectormap/maps/world-merc.js') }}"></script>
<script src="{{ url_for('static', filename='libs/jsvectormap/maps/world.js') }}"></script>

<!-- Dashboard App js -->
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>