{% extends "admin/layout/layout.html" %}

{% block page_content %}

    <main class="p-6" id="app">
        {{ super() }}

        <div class="card">
            <div class="p-6">
                <div class="overflow-hidden">

                    <div v-if="showOverlay"
                         v-cloak
                         class="transition-all fixed inset-0 z-40 bg-gray-900 bg-opacity-50 dark:bg-opacity-80"
                         data-fc-overlay-backdrop=""></div>

                    <h3 class="card-title mb-4">All Products</h3>

                    <div v-if="showSuccessMessage"
                         v-cloak
                         class="bg-success/10 text-success border border-success/20 text-sm rounded-md py-3 px-5 mb-2 flex justify-between items-center"
                         role="alert">
                        <div>
                            <span class="font-bold">Success</span> - [[ successMessage ]]
                        </div>
                        <button @click="closeSuccessMessage" class="text-success font-bold ml-4">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>

                    <div class="relative">

                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <thead>
                            <tr class="bg-slate-100 dark:bg-slate-700">
                                <th class="font-semibold px-4 py-4 text-slate-900 dark:text-slate-200 text-start">
                                    Product Name
                                </th>
                                <th class="font-semibold px-4 py-4 text-slate-900 dark:text-slate-200 text-start">
                                    Category
                                </th>
                                <th class="font-semibold px-4 py-4 text-slate-900 dark:text-slate-200 text-start">
                                    Code
                                </th>
                                <th class="font-semibold px-4 py-4 text-slate-900 dark:text-slate-200 text-start">
                                    Quantity in stock
                                </th>
                                <th class="font-semibold px-4 py-4 text-slate-900 dark:text-slate-200 text-start">
                                    Price
                                </th>
                                <th class="font-semibold px-4 py-4 text-slate-900 dark:text-slate-200 text-start text-center">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                            <tr v-if="products.length" v-for="product in products" :key="product.id" v-cloak>
                                <!-- Rename "user" to "product" -->
                                <th scope="row"
                                    class="flex items-center gap-2 px-4 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-8 h-8 rounded-full"
                                         :src="product.image ? `/static/upload/product/${product.image}` : '/static/images/no-pictures.png'"
                                         :alt="product.name || 'Default Avatar'">

                                    <div class="whitespace-nowrap text-sm font-medium text-gray-500 dark:text-gray-200">
                                        [[
                                        product.name ]]
                                    </div>
                                </th>
                                <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-500 dark:text-gray-200">
                                    [[ product.category_name ]] <!-- Display category name -->
                                </td>
                                <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-500 dark:text-gray-200">
                                    [[ product.code ]] <!-- Replace with Product description -->
                                </td>
                                <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-500 dark:text-gray-200">
                                    [[ product.qty ]] qty <!-- Replace with Product description -->
                                </td>
                                <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-500 dark:text-gray-200">
                                    $[[ product.price ]] <!-- Replace with Product price -->
                                </td>
                                <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-500 dark:text-gray-200">
                                    <a :href="'{{ url_for('edit_product', id='') }}' + product.id"><i
                                            class="ri-edit-line text-xl p-1 text-primary"></i></a>
                                    <a @click="openModal(product.id)" href="javascript:void(0)"><i
                                            class="ri-delete-bin-2-line text-xl p-1 text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-if="loading"
                             class="mt-5 mb-5 flex justify-center items-center bg-white/75 dark:bg-gray-900/75 z-50">
                            <div class="h-12 w-12">
                                <span class="animate-ping inline-flex h-full w-full rounded-full bg-danger/75"></span>
                            </div>
                        </div>
                        <div v-if="products.length === 0 && loading ===false" v-cloak
                             class="mt-5 flex justify-center items-center bg-white/75 dark:bg-gray-900/75 z-50">
                                The list is empty
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div v-if="showDeleteModal"
             v-cloak
             class="flex items-center justify-center w-full h-full fixed top-0 left-0 z-50 transition-all duration-500 overflow-y-auto">
            <div class="flex items-center justify-center h-full">
                <div class="sm:max-w-lg mx-auto bg-white shadow-sm rounded dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex justify-between items-center py-2.5 px-4 bg-danger dark:border-gray-700">
                        <h3 class="font-medium text-white text-lg">Confirm Deletion</h3>
                        <button @click="closeDeleteModal"
                                class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 dark:text-gray-200">
                            <i class="ri-close-line text-2xl text-white"></i>
                        </button>
                    </div>
                    <div class="p-4 overflow-y-auto">
                        <p class="text-gray-800 dark:text-gray-200">Are you sure you want to delete this product?</p>
                    </div>
                    <div class="flex justify-end items-center gap-2 p-4 border-t dark:border-gray-700">
                        <button @click="closeDeleteModal" class="btn bg-light text-gray-800 transition-all"
                                type="button">
                            Cancel
                        </button>
                        <button @click="confirmDelete" class="btn bg-danger text-white">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block customJs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const {createApp} = Vue;

        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    showSuccessMessage: false,
                    showDeleteModal: false,
                    productIdToDelete: null,
                    showOverlay: false,
                    successMessage: '',
                    products: [],
                    loading: false
                };
            },
            mounted() {
                this.fetchProducts();
                this.checkUrlParams();
            },
            methods: {
                closeSuccessMessage() {
                    this.showSuccessMessage = false;  // Hide the success message
                },
                fetchProducts() {
                    this.loading = true;// Assuming the backend sends users data as an array

                    axios.get('/admin/ProductGet')
                        .then(response => {
                            this.loading = false;// Assuming the backend sends users data as an array
                            this.products = response.data.products;  // Assuming the backend sends users data as an array
                        })
                        .catch(error => {
                            this.loading = false;// Assuming the backend sends users data as an array

                            console.error('Error fetching users:', error);
                        });
                },
                checkUrlParams() {
                    const urlParams = new URLSearchParams(window.location.search);
                    console.log(urlParams.toString());

                    if (urlParams.has('success-edit') && urlParams.get('success-edit') === 'true') {
                        this.showSuccessMessage = true;
                        this.successMessage = 'User updated successfully!';
                        this.removeSuccessParam();
                    } else if (urlParams.has('success-delete') && urlParams.get('success-delete') === 'true') {
                        this.showSuccessMessage = true;
                        this.successMessage = 'User deleted successfully!';
                        this.removeSuccessParam();
                    } else {
                        console.log("No success parameter found"); // Debugging line
                    }
                },
                removeSuccessParam() {
                    const url = new URL(window.location.href);
                    url.searchParams.delete('success-edit');
                    url.searchParams.delete('success-delete');
                    window.history.replaceState({}, document.title, url);
                },
                openModal(productId) {
                    this.productIdToDelete = productId;
                    this.showDeleteModal = true;
                    this.showOverlay = true;
                },
                closeDeleteModal() {
                    this.showDeleteModal = false;
                    this.productIdToDelete = null;
                    this.showOverlay = false;
                },
                confirmDelete() {
                    if (this.productIdToDelete !== null) {
                        this.showOverlay = true;
                        axios.post('/admin/product/delete', {id: this.productIdToDelete})
                            .then(response => {
                                // Remove the deleted product from the products array
                                this.products = this.products.filter(product => product.id !== this.productIdToDelete);
                                this.showSuccessMessage = true;
                                this.successMessage = 'Product deleted successfully!';
                                this.closeDeleteModal(); // Close the modal after deletion
                            })
                            .catch(error => {
                                console.error(error.response.data.error);
                                this.showOverlay = false;
                            });
                    }
                }
            },
        }).mount('#app');
    </script>
{% endblock %}
